// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.home {
  max-width: $max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.home-bannertop-header {
  flex: 1 1 auto;

  background-color: cornflowerblue;
}

.home-bannertop-qualities {
  flex: 1 1 auto;

  background-color: lightgreen;
  text-align: center;

  &__title {
    font-size: $titles-size;
    font-weight: $titles-weight;
  }

  &__text {
    display: none;
  }
}

.home-intro {
  flex: 1 1 auto;

  background-color: cornflowerblue;
}

.home-restaurants {
  flex: 3 1 auto;

  background-color: lightgreen;
}

.home-menu {
  flex: 4 1 auto;

  background-color: cornflowerblue;
}

.home-testimony {
  flex: 4 1 auto;

  background-color: lightgreen;
}

.home-recipes {
  flex: 1 1 auto;
}